.dialogs
{
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    

}
.dialogsItems a
{
    font-family: consolas;
    padding: 0 0 0 20px ;
    font-size: 24px;
    text-decoration: none;
    color: rgb(238, 244, 245);
}
.dialogsItems a:hover
{
    text-decoration:none;
    color: rgba(2, 135, 158, 0.534);
}

.img 
{
    width: 30px;
    
}

.dialog 
{

}

.Messages
{
    padding: 0;
}

.message
{
    color: white;
}
.active
{
    color: gold;
}
.message__1
{
    font-size: 30px;
    color: rgb(5, 44, 88);
}

.message__2
{
    font-size: 30px;
    text-align: right;
    color: rgb(75, 82, 92);
}