.dialogs
{
    display: grid;
    grid-template-columns: 3fr 7fr 3fr;
    

}
.dialogsItems a
{
    font-family: consolas;
    padding: 0 0 0 20px ;
    font-size: 34px;
    text-decoration: none;
    color: rgb(238, 244, 245);
}
.dialogsItems a:hover
{
    text-decoration:none;
    color: rgba(2, 135, 158, 0.534);
}

.img 
{
    width: 50px;
}

.dialog 
{

}

.Messages
{
    padding: 0;
    background: #ffffff6c;
    height: auto;
}

.message
{
    color: white;
    padding: 0 10px 0 10px;
}
.active
{
    color: gold;
}

.textarea 
{
    margin: 5% 0 2% 0;
    width: 85%;
    height: 50px;
    font-size: 24px;
    font-family: consolas;
    display: block;
    resize: none;
    float: right;
}

.sendMessage 
{
    float: right;
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 0 2.5% 20px 0;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
}
