.message
{
    color: white;
}

.message__1
{
    font-size: 30px;
    color: rgb(6, 115, 179);
    margin: 10px 0 10px 0;

}

.message__2
{
    font-size: 30px;
    text-align: right;
    color: rgb(75, 82, 92);
}

.img 
{
    width: 30px;  
}