.all 
{
    margin: 20px 0 40px 3%;
}

.avatar_img {
    width: 100px;
    border: rgb(128, 96, 128) 4px inset;
    background-color: rgb(52, 52, 58);
    border-top-left-radius: 25px;
}


.pagination
{
    display: flex;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    font-family: consolas;
}
.selectedPage {
    margin: 3px;
    padding: 2px;
    min-width: 25px;
    min-height: 25px;
    border: rgb(0, 113, 219) 2px solid;
    font-size: 20px;
    border-radius: 15%;
}

.unselectedPage {
    margin: 3px;
    min-width: 25px;
    min-height: 25px;
    padding: 2px;
    border: rgb(77, 76, 76) 2px solid;
    border-radius: 15%;
    font-size: 20px;
}
.unselectedPage:hover {
    border: rgb(0, 113, 219) 2px solid;
    font-size: 20px;
}


.users
{
    display: grid;
    width: 90%;
    padding-right: 5%;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
}
.users__shortlog
{
    background-color: rgb(200, 200, 201);
    margin: 10px 0 10px 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-radius: 25px;

    
}
.users__AnB
{
    padding: 10px 0 10px 10px;
}

.users__AnB__button
{
    width: 67%;
    border-bottom-left-radius: 25px;
    border: rgb(128, 96, 128) 4px outset;
    font-size: 20px;
    font-family: consolas;
}
.users__AnB__button:hover
{
    border: rgb(128, 96, 128) 4px inset;
    background-color: rgb(230, 230, 230);
}




.users__status
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}
.users__status__profile
{
    padding-left: 10px;
    font-family: consolas;
}
.users__status__profile__name
{
    font-size: 30px;
}
.users__status__profile__status
{
    width: 90%;
    font-size: 16px;
}

.users__status__location
{
    text-align: right;
    font-size: 17px;
    color: rgb(2, 78, 88);
}



