.header
{
  grid-area: header;
  background-color: cadetblue;
  padding: 5px 0 0 40px;
  display: grid;
  grid-template-columns: 14fr 5fr;
}
.logo
{
  font-size: 40px;
  font-family: consolas;
}
.loginBlock
{
  font-size: 30px;
  color: black;
}