.post
{
  display: flex;
  color: rgba(255, 255, 255, 0.781);
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  background: rgba(0, 89, 141, 0.692);
}
.img img
{
  display: flex;
  border: rgb(3, 202, 252) 5px solid;
  margin-right: 10px;
  width: 60px;
  border-radius: 90px;
}
.like
{
  width: 70px;
  height: 25px;
  margin: 15px 0 0 10px;
  padding: 0 0 0 10px;
  border: 1px solid currentColor;
  background-color: royalblue;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
.message
{
  margin-bottom: 5px;
  margin-left: 15px;
}